<div class="wrapper">
  <main>
    <div class="featured-image"></div>
    <div class="title-wrapper">
      <h1>
        {{ title }}
      </h1>
    </div>
  </main>
  <footer>
    <img class="author-pic" src="{{{ authorProfilePic }}}">
    <span class="author-name">
      {{ authorName }}
    </span>
    <img class="css-tricks" src="css-tricks.svg" />
  </footer>
</div>
